.card{
    width: 20rem;
    height: 72vh;
    float: left;
    margin: 25px 25px 0px 25px;
    border-color: #754f3d;
    background-color: #c2a087;
    padding-top: 10px;
}
.card-img-bottom{
    width:  10vw;
    margin: auto;
    height: 28vh;
}
.list-group{
    --bs-list-group-bg: #754f3d;
    --bs-list-group-border-color: black;
    --bs-list-group-color: white;
}

.button-group{
    display: grid;
grid-auto-flow: column;
grid-column-gap: 10px;
margin: 0;
padding: 0;
}

button{
align-items: center;
}

.love{
    width: 20px;
}