
.navbar-brand{
    position: relative;
    right: 10vw;    
}
.me-auto{
    font-size: 20px;
    position: relative;
    right: 5vw; 
}
.form-control{
    width: 30vw;
}
.search{
    width: 25px;
}
.logo{
    width: 60px;
    position: relative;
    right: 10.5vw;  
}
.navbar{
    background-color: #a36e38;
}

.me-auto a{
   font-weight: 500; 
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: rgba(0, 0, 0, 0);
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: transparent;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: transparent;
}