.background{
    width: 100vw;
    height: 100vh;
background: rgb(47,55,66);
background: linear-gradient(174deg, rgba(47,55,66,1) 49%, rgba(207,151,64,1) 100%); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container{
    width: 83vw;
    height: 83vh;
    display: flex;
    align-items: center;   
}


.login-box{
    width: 35%;
    background-color: #f8f8f8;
    height: 100%;
   
}

.left-box-signup{
    width: 65%;
    height: 100%;
    background-image: url(../../img/signup-background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: end;
}

.image{
    height: 60%;
}

.container-form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4vh;
}

.title-container{
    padding-top: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formControl{
    width: 24vw;
}

.logo-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 3vh;
    padding-left: 4vw;
  }

  .logo-container h1 {
   padding-right: 3.5vw;
  }
  
  .logo {
    width: 3vw;
    height: auto;
    display: block;
  
  }

  .buttonSubmit{
    width: 5vw;
    height: auto;
  }

  .buttonSubmit img{
    width: 3vw;
  }

  .button-container{
    display:flex;
    justify-content: center;
    padding-top: 3vh;
  }

  .login{
    display: flex;
    justify-content: center;
    margin-top: 4vh;
    
    }
  
    .login p ins
    {
      cursor: pointer;
    }